body {
  margin: 0;
  background: linear-gradient(to bottom right,#f0f7ff,#ffffff);
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 60px;
}

.logo img {
  width: 80px;
  margin-bottom: 10px;
}

.subtitle {
  color:#4a607d;
}

.badge {
  border:2px solid #22c55e;
  padding:8px 15px;
  display:inline-block;
  color:#22c55e;
  border-radius:10px;
  margin:20px;
  font-weight:bold;
}

.card {
  background:#fff;
  width: 600px;   /* wider */
  margin:auto;
  padding:20px;
  border-radius:15px;
  box-shadow:0px 10px 25px rgba(0,0,0,0.1);
}


label {
  display:block;
  text-align:left;
  margin-top:10px;
  font-weight: bold;
}

input {
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:8px;
  border:1px solid #ddd;
  background:#f9f9f9;
}

.roles {
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}

.role {
  padding:8px 12px;
  border-radius:8px;
  background:white;
  border:1px solid #ccc;
  cursor:pointer;
}

.active {
  background:black;
  color:white;
}

.login-btn {
  width:100%;
  padding:12px;
  background:rgb(43, 41, 41);
  color:white;
  margin-top:15px;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.footer {
  margin-top:20px;
  color:#5c6f88;
  font-size:14px;
}
